@model IEnumerable<SharedExpensePortalClientApplication.Models.UserScoreCardModel>

@{
    ViewBag.Title = "User Score Dashboard";
}
<h2>ViewRandom</h2>

@using (Html.BeginForm("ViewScore", "User", FormMethod.Get))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("User Name")
            </th>
            <th>
                @Html.DisplayName("Score")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
            </tr>
        }

    </table>
 }

